@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap'); */
/* @import url("https://fonts.googleapis.com/css?family=Lato:300:400"); */
/* @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); */
/* @import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #434343,
      #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #434343,
      #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(-90deg,
      #804dee 0%,
      rgba(60, 51, 80, 0) 100%);
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #f12711,
      #f5af19);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #f12711,
      #f5af19);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #11998e,
      #38ef7d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #11998e,
      #38ef7d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #2f80ed,
      #56ccf2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #2f80ed,
      #56ccf2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #ec008c,
      #fc6767);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #ec008c,
      #fc6767);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}




body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(5, 8, 22);
}

section {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  align-items: center;
  /* height: 100vh; */
}

.card {
  position: absolute;
  bottom: 20px;
  left: 75%;
  height: 150px;
  width: 25%;
  margin: 10px 0;
  /* transition: all 2.3s ease; */
  perspective: 1200px;
}

@media only screen and (max-width: 600px) {
  .card {
    position: absolute;
    bottom: 20px;
    left: 50%;
    height: 150px;
    width: 80%;
    margin: 10px 0;
    /* transition: all 2.3s ease; */
    perspective: 1200px;
    transform: translate(-50%, 0%);
  }
}

.card:hover .cover {
  transform: rotateX(0deg) rotateY(-180deg);
}

.card:hover .cover:before {
  transform: translateZ(30px);
}

.card:hover .cover:after {
  background-color: black;
}

.card:hover h1 {
  transform: translateZ(50px);
}

.card:hover .price {
  transform: translateZ(20px);
}

.card:hover a {
  transform: translateZ(-60px) rotatey(-180deg);
}

.cover {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 2.3s ease;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.cover:before {
  content: '';
  position: absolute;
  border: 5px solid rgba(255, 255, 255, .5);
  box-shadow: 0 0 12px rgba(0, 0, 0, .3);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  transition: all 2.3s ease;
  transform-style: preserve-3d;
  transform: translateZ(0px);
}

.cover:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  transition: ease all 1.3s;
  background: rgba(0, 0, 0, .4);
}

/* .cover.item-a {
  background-image: url('./texture/Fish_endangered.jpg');
} */

.cover h1 {
  font-weight: 450;
  position: absolute;
  bottom: 80px;
  left: 45px;
  color: white;
  transform-style: preserve-3d;
  transition: all 2.3s ease;
  z-index: 3;
  font-size: 1.3em;
  transform: translateZ(0px);
}

.cover .price {
  font-weight: 200;
  position: absolute;
  top: 85px;
  right: 40px;
  color: white;
  transform-style: preserve-3d;
  /* transition: all 2.3s ease; */
  z-index: 4;
  font-size: 1em;
  transform: translateZ(0px);
}

.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0b0f08;
  transform-style: preserve-3d;
  transition: all 2.3s ease;
  transform: translateZ(-1px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-back a {
  transform-style: preserve-3d;
  transition: all 2.3s ease, ease background .5s;
  transform: translateZ(-1px) rotatey(-180deg);
  background: transparent;
  border: 1px solid white;
  font-weight: 200;
  font-size: 1.3em;
  color: white;
  padding: 14px 32px;
  outline: none;
  text-decoration: none;
}

.card-back a:hover {
  background: white;
  color: black;
}

.card-back p {
  font-weight: 200;
  font-size: 1.3em;
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  .cover h1 {
    font-size: 0.7em;
  }

  .cover .price {
    font-size: 0.4em;
  }

  .card-back p {
    font-size: 1em;
  }
}



.text svg {
  font-family: "Poppins", sans-serif;
  /* width: 50%; */
  /* height: 100%; */
  margin: 0px 0;
}

.text svg text {
  animation: stroke 4s 1 alternate;
  stroke-width: 1;
  stroke: rgb(239 246 255);
  fill: rgb(239 246 255);
  font-size: 45px;

}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgb(219, 219, 219);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }

  70% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgb(255, 255, 255);
  }

  80% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgb(255, 255, 255);
    stroke-width: 3;
  }

  100% {
    fill: rgb(255, 255, 255);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.showcase {
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}

.showcase.active {
  right: 300px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 10;
}

/* .text h2 {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
} */

.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text a {
  position: relative;
  padding: 20px 50px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  overflow: hidden;
  border-radius: 40px;
}

.text a span {
  position: relative;
  color: #fff;
  fot-size: 20px;
  font-family: Arial;
  letter-spacing: 8px;
  z-index: 1;
}

.text a .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 200px;
  height: 200px;
  background: #4973ff;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
  transition: .5s;
}

.text a .liquid::after,
.text a .liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

.text a .liquid::before {

  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

.text a .liquid::after {

  border-radius: 40%;
  background: rgba(20, 20, 20, .5);
  animation: animate 10s linear infinite;
}

.text a:hover .liquid {
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.inside_img {
  z-index: 10;
  width: 40%;
}

.inside_img img {
  border-radius: 50px;
}

@media only screen and (max-width: 1000px) {
  .inside_img {
    display: none;
  }
}


/* loader */


.loader {
  background: #000;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.containerloader {
  position: relative;
  width: 210px;
  height: 210px;
  animation: rotate 4s ease-out infinite;
  filter: url("#gooey");
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.containerloader .liquid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #c7eeff, #03a9f4);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  --ani_dur: 4s;
}

.containerloader .liquid:nth-child(1) {
  top: 0;
  animation: animate1 var(--ani_dur) linear infinite;
}

.containerloader .liquid:nth-child(2) {
  left: 0;
  animation: animate2 var(--ani_dur) linear infinite;
}

.containerloader .liquid:nth-child(3) {
  left: 100%;
  animation: animate3 var(--ani_dur) linear infinite;
}

.containerloader .liquid:nth-child(4) {
  top: 100%;
  animation: animate4 var(--ani_dur) linear infinite;
}

@keyframes animate1 {
  0% {
    top: 0;
  }

  50% {
    top: 100%;
  }

  100% {
    top: 100%;
  }
}

@keyframes animate2 {
  0% {
    left: 0;
  }

  50% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes animate3 {
  0% {
    left: 100%;
  }

  50% {
    left: 0;
  }

  100% {
    left: 0;
  }
}

@keyframes animate4 {
  0% {
    top: 100%;
  }

  50% {
    top: 0;
  }

  100% {
    top: 0;
  }
}

.containerloader .svgloader svg {
  width: 0;
  height: 0;
}




/* astronaut */

@keyframes snow {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(650px);
  }
}

@keyframes astronaut {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.box-of-star1,
.box-of-star2,
.box-of-star3,
.box-of-star4 {
  width: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  transform: translateY(0px);
  height: 700px;
}

.box-of-star1 {
  animation: snow 5s linear infinite;
}

.box-of-star2 {
  animation: snow 5s -1.64s linear infinite;
}

.box-of-star3 {
  animation: snow 5s -2.30s linear infinite;
}

.box-of-star4 {
  animation: snow 5s -3.30s linear infinite;
}

.star {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  opacity: 0.7;
}

.star:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  top: 80px;
  left: 70px;
  opacity: .7;
}

.star:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 170px;
  opacity: .9;
}

.star-position1 {
  top: 30px;
  left: 20px;
}

.star-position2 {
  top: 110px;
  left: 250px;
}

.star-position3 {
  top: 60px;
  left: 570px;
}

.star-position4 {
  top: 120px;
  left: 900px;
}

.star-position5 {
  top: 20px;
  left: 1120px;
}

.star-position6 {
  top: 90px;
  left: 1280px;
}

.star-position7 {
  top: 30px;
  left: 1480px;
}

.astronaut {
  width: 250px;
  height: 300px;
  position: absolute;
  z-index: 11;
  top: calc(50% - 150px);
  left: calc(50% - 125px);
  animation: astronaut 5s linear infinite;
}

.schoolbag {
  width: 100px;
  height: 150px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  background-color: #94b7ca;
  border-radius: 50px 50px 0 0 / 30px 30px 0 0;
}

.head {
  width: 97px;
  height: 80px;
  position: absolute;
  z-index: 3;
  background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
  border-radius: 50%;
  top: 34px;
  left: calc(50% - 47.5px);
}

.head:after {
  content: "";
  width: 60px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 30px);
  background: -webkit-linear-gradient(top, #15aece 0%, #15aece 50%, #0391bf 50%, #0391bf 100%);
  border-radius: 15px;
}

.head:before {
  content: "";
  width: 12px;
  height: 25px;
  position: absolute;
  top: calc(50% - 12.5px);
  left: -4px;
  background-color: #618095;
  border-radius: 5px;
  box-shadow: 92px 0px 0px #618095;
}

.body {
  width: 85px;
  height: 100px;
  position: absolute;
  z-index: 2;
  background-color: #fffbff;
  border-radius: 40px / 20px;
  top: 105px;
  left: calc(50% - 41px);
  background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
}

.panel {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: calc(50% - 30px);
  background-color: #b7cceb;
}

.panel:before {
  content: "";
  width: 30px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: 7px;
  background-color: #fbfdfa;
  box-shadow: 0px 9px 0px #fbfdfa, 0px 18px 0px #fbfdfa;
}

.panel:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 9px;
  right: 7px;
  background-color: #fbfdfa;
  border-radius: 50%;
  box-shadow: 0px 14px 0px 2px #fbfdfa;
}

.arm {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 121px;
  z-index: 2;
}

.arm-left {
  left: 30px;
  background-color: #e3e8eb;
  border-radius: 0 0 0 39px;
}

.arm-right {
  right: 30px;
  background-color: #fbfdfa;
  border-radius: 0 0 39px 0;
}

.arm-left:before,
.arm-right:before {
  content: "";
  width: 30px;
  height: 70px;
  position: absolute;
  top: -40px;
}

.arm-left:before {
  border-radius: 50px 50px 0px 120px / 50px 50px 0 110px;
  left: 0;
  background-color: #e3e8eb;
}

.arm-right:before {
  border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
  right: 0;
  background-color: #fbfdfa;
}

.arm-left:after,
.arm-right:after {
  content: "";
  width: 30px;
  height: 10px;
  position: absolute;
  top: -24px;
}

.arm-left:after {
  background-color: #6e91a4;
  left: 0;
}

.arm-right:after {
  right: 0;
  background-color: #b6d2e0;
}

.leg {
  width: 30px;
  height: 40px;
  position: absolute;
  z-index: 2;
  bottom: 70px;
}

.leg-left {
  left: 76px;
  background-color: #e3e8eb;
  transform: rotate(20deg);
}

.leg-right {
  right: 73px;
  background-color: #fbfdfa;
  transform: rotate(-20deg);
}

.leg-left:before,
.leg-right:before {
  content: "";
  width: 50px;
  height: 25px;
  position: absolute;
  bottom: -26px;
}

.leg-left:before {
  left: -20px;
  background-color: #e3e8eb;
  border-radius: 30px 0 0 0;
  border-bottom: 10px solid #6d96ac;
}

.leg-right:before {
  right: -20px;
  background-color: #fbfdfa;
  border-radius: 0 30px 0 0;
  border-bottom: 10px solid #b0cfe4;
}



/* what is globe */
.what_is_globe {
  background-color: transparent;
  position: absolute;
  top: 110px;
  left: 69px;
}

.what_is_globe h1 {
  font-size: 30px;
  font-weight: 700;
}

.what_is_globe span {
  color: rgb(250, 4, 4);
}

/* what is globe */



/* animal info main info */
.MainInfo {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.MainInfo .ColInfo {
  width: 50%;
  margin: 10px;
  height: 350px;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  justify-content: space-around;
  align-items: flex-start;
}

.row .col {
  margin: 110px 0 0 0;
}

.ColInfo p {
  font-size: 20px;
  margin: 20px 0;
}

.ColInfo h1 {
  font-size: 40px;
  margin: 10px 0;
}

.VideoDiv {
  /* width: m; */
  /* height: 100%; */
}

.video {
  width: 90vw;
  height: 90vh;
  margin: 0px auto;
  margin-bottom: 30px;
}

.AllInfo {
  margin: 30px;
}

.AllInfo h2 {
  /* margin: 30px; */
  font-size: 40px;
  color: #aaa6c3;
}

@media only screen and (max-width: 1000px) {
  .MainInfo {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .row {
    align-items: stretch;
    /* margin-top: 296px; */
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-between;
  }

  .MainInfo .ColInfo {
    width: 100%;
    margin: 10px;
    height: 350px;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px;
  }

  .video {
    width: 90vw;
    /* height: 100vh; */
    margin: 0px auto;
    margin-bottom: 30px;
  }
}

/* animal info main info */

/* Result color container */
.resultColor {
  width: 68.5%;
  height: 151px;
  background-color: #00cea8;
  border: 2px solid #00cea8;
  /* margin-bottom: 20px; */
}
.resultColor img{
    object-fit: cover;
}

.game_data {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
}

.game_data div {
  margin: 10px;
}

/* Table container */
/* .game table {
  width: 80%;
  max-width: 600px;
  border: 3px solid #0391bf;
  background-image: url(../src/assets/hereo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
} */

/* Table rows and cells */
.game tr td {
  min-width: 90px;
  height: calc(80vh / 5);
  /* border: 1px solid #0391bf; */
  /* background-image: url(/src/assets/github.png); */
  text-align: center;
}

/* Dropping element animation */
/* .element-move {
  animation: moveElement 20ms ease;
}

@keyframes moveElement {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
} */

/* Score and failed score */
.score,
.failed-score {
  font-size: 20px;
  margin-top: 20px;
}

/* Buttons */
.start-button,
.reset-button {
  padding: 10px 20px;
  background-color: #00cea8;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.start-button:hover,
.reset-button:hover {
  background-color: #009c87;
}

/* Lose message */
.lose-message,
.cogratolation-msg {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgb(5, 8, 22);
  width: 50%;
  /* height: 400px; */
  /* text-align: center; */
  /* align-items: center; */
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: red;
  /* margin-top: 20px; */
  /* align-content: space-around; */
  justify-content: space-around;
  align-items: flex-start;
  padding: 30px 0;
}

.lose-message .you_lose_msg {
  position: absolute;
  top: 10px;
}

.lose-message .you_lose_msg {
  font-size: 50px;
  /* padding: 30px 0; */
}

.lose_msg_info p {
  width: 200px;

}

.lose_msg_info {
  width: 100%;
  color: rgb(30, 171, 238);
  margin: 100px 20px 30px 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* Adjust the number of lines as needed */
  overflow: hidden;
  text-overflow: ellipsis;
}

.lose-message button,
.cogratolation-msg button,
.start_game {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
}
.start_game{
  margin: 10px;
}

.lose-message button:active,
.lose-message button:hover,
.cogratolation-msg button:active,
.cogratolation-msg button:hover 
.start_game:active,
.start_game:hover {
  outline: 0;
}

.lose-message button span,
.cogratolation-msg button span,
.start_game span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.lose-message button:hover span,
.cogratolation-msg button:hover span ,
.start_game:hover span 
{
  background: none;
}

.lose-message button:active,
.cogratolation-msg button:active,
 .start_game:active
 {
  transform: scale(0.9);
}


/* Custom colors for element and basket */
.element,
.basket {
  color: #000;
}

/* Dropping element animation */


/* Score and failed score */
.score,
.failed-score {
  font-size: 20px;
  margin-top: 20px;
}

/* Buttons */
.start-button,
.reset-button {
  padding: 10px 20px;
  background-color: #00cea8;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.start-button:hover,
.reset-button:hover {
  background-color: #009c87;
}

/* Lose message */


.game {
  display: flex;
  flex-direction: column;
  background-color: rgb(5, 8, 22);
  /* Set the background color to black */
  justify-content: center;
  align-items: center;
  /* height: 100vh; Use the full viewport height */
  /* margin: 100px 0 0 0 0; */
  overflow: hidden;
  /* Hide overflow to prevent scrolling */
  position: relative;
  top: 90px;
  background-image: url(../src/assets/50%dirty_water.jpg);
}

/* 
.game .resultColor {
  width: 100px;
  height: 80vh;
  border: #00cea8 1px solid;
}

.game table {
  width: 100vw;
  border: #0391bf 3px solid;
  height: calc(80vh / 5);
} */

.game tr td {
  /* width: calc(); */
}

/* 
.element-move {
  animation: moveElement 0.3s ease;
}

@keyframes moveElement {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
} */

/* game*/